<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="color:black; text-align: left;">Welcome to the todo list</h1>
    <h1 style="color:rgb(7, 7, 95);background-color:lightseagreen;">My To-Do List</h1>
    <a href="/addtask/">Add New Task</a><br>
    <br>
</body>
<table border="1">
        <tr>
            <th>Id</th>
            <th>Task Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        {% for i in todo %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.tasktitle}}</td>
            <td>{{i.taskdesc}}</td>
            <td>{{i.status}}</td>
            <td>
                <a href="/edit_todo/{{ i.id }}/">Edit</a>
            </td>
            <td>
                <a href="/delete_todo/{{ i.id }}/">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</html>