<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body id="body">
    <h1>My To-Do List</h1>
    <a href="/addtask/" style="color:red">Add New Task</a><br>
    <br>
</body>
<table border="1" id="tabl">
        <tr>
            <th>Id</th>
            <th>Task Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        {% for i in todo %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.tasktitle}}</td>
            <td>{{i.taskdesc}}</td>
            <td>{{i.status}}</td>
            <td>
                <a href="/edit_todo/{{ i.id }}/">Edit</a>
            </td>
            <td>
                <a href="/delete_todo/{{ i.id }}/">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</html>